<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect all requests to the tech-news/public directory
    RewriteRule ^(.*)$ /tech-news/public/$1 [L]

    # If the requested resource does not exist, redirect to tech-news/public/index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /tech-news/public/index.php/$1 [L]
</IfModule>
